#header {
    text-align: right;
}
body {
    background-color: none;
}
.space >img {
    max-width: 750px;
    height: 500px;
    text-align: center;
}
.earth >img {
    width: 510px;
    height: 350px;
}
.solar_system >img{
    width: 510px;
    height: 350px;
}
.milkyway >img {
    width: 510px;
    height: 350px;
}
.side-by-side {
    display: flex;
    border-right:
}